html {
  font-size: 62.5%;
}

* {
  padding: 0;
  margin: 0;
  font-family: monospace;
}

.header {
  text-align: center;
  font-size: 5rem;
  padding: 1rem 0;
  background-color: black;
  color: #fff;
}

.list {
  display: grid;
  gap: 3rem;
  grid-template-columns: repeat(4, 1fr);
  width: fit-content;
  margin: 3rem auto;
}

.list__item {
  align-items: center;
  background-color: #eee;
  border-radius: 2rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 25rem;
  padding: 1rem;
  text-align: center;
  transition: all 0.5s;
}

.list__item:hover {
  transform: scale(1.1);
  transition: transform 0.5s;
}

.img__container {
  align-items: center;
  display: flex;
  justify-content: center;
}

.img {
  padding: 0.5rem;
  max-height: 30rem;
  width: 100%;
}

.counter__container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  font-size: 2rem;
  margin-top: 2rem;
}

.counter__container h1 {
  padding: 0.5rem 2rem;
  border-radius: 2rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
}

.current__score {
  background-color: #f39f9f;
}

.high__score {
  background-color: rgb(150, 230, 150);
}

.overlay {
  background-color: rgba(0, 0, 0, 0.7);
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 20;
}

.hide {
  visibility: hidden;
}

.modal {
  align-items: center;
  background-color: #eee;
  border-radius: 2rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  display: flex;
  flex-direction: column;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 30;
  font-size: 3rem;
  padding: 5rem 3rem;
}

.modal button {
  background-color: black;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  font-size: 2rem;
  margin-top: 2rem;
  cursor: pointer;
}
