html {
  font-size: 62.5%;
}

* {
  padding: 0;
  margin: 0;
  font-family: monospace;
}

.header {
  text-align: center;
  font-size: 5rem;
  padding: 1rem 0;
  background-color: black;
  color: #fff;
}

.list {
  display: grid;
  gap: 3rem;
  grid-template-columns: repeat(4, 1fr);
  width: fit-content;
  margin: 2rem auto;
}

.list__item {
  align-items: center;
  background-color: #eee;
  border-radius: 2rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 25rem;
  padding: 1rem;
  text-align: center;
  transition: all 0.5s;
}

.list__item:hover {
  transform: scale(1.1);
  transition: transform 0.5s;
}

.img__container {
  align-items: center;
  display: flex;
  justify-content: center;
}

.img {
  padding: 0.5rem;
  max-height: 30rem;
  width: 100%;
}

.counter__container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  font-size: 2rem;
  margin-top: 2rem;
}

.counter__container h1 {
  padding: 0.5rem 2rem;
  border-radius: 2rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
}

.current__score {
  background-color: #f39f9f;
}

.high__score {
  background-color: rgb(150, 230, 150);
}
